# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# ChromaDB
chroma_db/

# Frontend
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

backend/data/
*.txt